*{
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
  height: 19vh;
  display: flex;
  flex-direction: column;
}

.App img{
  width: 150px;
  height: auto;
  display: block;
  margin: auto;
}
